<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Andres Benavides</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link d-flex justify-content-lg-center justify-content-start" aria-current="page" (click)="scrollToElement('perfil', '/perfil')" role="button"
            [ngClass]="{ 'active': isActive('/perfil') || isActive('/')}">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link d-flex justify-content-lg-center justify-content-start" (click)="scrollToElement('herramientas', '/herramientas')" role="button"
            [ngClass]="{ 'active': isActive('/herramientas') }">Herramientas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link d-flex justify-content-lg-center justify-content-start" (click)="scrollToElement('proyectos', '/proyectos')" role="button"
            [ngClass]="{ 'active': isActive('/proyectos') }">Proyectos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>