<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
            <img src="../../../assets/img/programmer.jpg" class="img-fluid" alt="Imagen">
        </div>
        <div class="col-lg-6 order-lg-1">
            <h2 class="text-center">Andres Benavides</h2>
            <h5 class="text-center mb-4">Desarrollador Web</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus distinctio assumenda fugit quod
                ea, quam modi veniam iste illum omnis quibusdam corporis autem impedit nesciunt, nobis ut, reprehenderit
                fugiat consequuntur?</p>
            <app-contacto></app-contacto>
        </div>
    </div>
</div>
