<div class="social-icons-container rounded d-flex justify-content-around align-items-center mt-4">
    <a href="https://github.com/andresbena04" target="_blank"><i class='bx bxl-github icon'></i></a>
    <a href="https://www.linkedin.com/in/andresb04/" target="_blank"><i class='bx bxl-linkedin-square icon'></i></a>
    <a href="mailto:andresbena3515@gmail.com"><i class='bx bx-envelope icon'></i></a>
</div>
<div class="d-flex justify-content-center">
    <hr class="w-75">
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary"><i class='bx bxs-download'></i>Curriculum vitae</button>
</div>