<div class="social-icons-container rounded d-flex justify-content-around align-items-center mt-4">
    @for (social of social; track $index) {
        <div class="icons-container">
            <div class="icon-content">
                <a class="link" href="{{social.url}}" role="button"  target="_blank">
                    <i class="{{social.icon}} icon-social"></i>
                </a>
                <div class="tooltip">{{social.nombre}}</div>
            </div>
        </div>
    }
</div>
<div class="d-flex justify-content-center">
    <hr class="w-75">
</div>
<div class="d-flex justify-content-center">
    <div class="button" role="button" (click)="donwload()">
        <div class="button-wrapper">
            <div class="text">Curriculum vitae</div>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17">
                    </path>
                </svg>
            </span>
        </div>
    </div>
   <!--  <a href="../../../assets/CV_Andres_Benavides.pdf" class="btn btn-primary" role="button"
        download="CV_Andres_Benavides.pdf"><i class='bx bxs-download'></i>Curriculum vitae</a> -->
</div>