<div class="container-fluid bg-color">
    <div class="row align-items-center justify-content-center">
       <!--  <div class="img-container col-lg-4 order-lg-2">
            <img src="assets/img/pro.svg" class="img-fluid" alt="Imagen">
        </div> -->
        <div class="col-lg-4 text-light mt-5 mb-4">
            <h2 class="font text-center">Andres Benavides</h2>
            <h5 class="font text-center mb-4">Desarrollador Web</h5>
            <app-contacto></app-contacto>
        </div>
    </div>
</div>
