 <div class="container-fluid bg-color" style="height: 75vh;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h3 class="text-center">Lenguajes de programación</h3>
        </div>
        <div class="col-md-6 col-sm-10 mt-4">
            <h5 class="text-center">Frontend</h5>
            <div class="icons-container d-flex justify-content-evenly">
                <a role="button" ><img src="assets/icon/html5.svg" class="icon" alt=""></a>
                <a role="button" ><img src="assets/icon/css.svg" class="icon" alt=""></a>
                <a role="button" ><img src="assets/icon/javascript.svg" class="icon" alt=""></a>
                <a role="button" ><img src="assets/icon/bootstrap.svg"class="icon"  alt=""></a>
                <a role="button" ><img src="assets/icon/angular.svg" class="icon" alt=""></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-10 mt-4">
            <h5 class="text-center">Backend</h5>
            <div class="icons-container d-flex justify-content-evenly">
                <a role="button"><img src="assets/icon/typescript.svg" class="icon" alt=""></a>
                <a role="button"><img src="assets/icon/nodejs.svg"class="icon"  alt=""></a>
            </div>
        </div>
        <div class="col-12 col-sm-10 mt-4">
            <h5 class="text-center">Base de datos</h5>
            <div class="icons-container d-flex justify-content-evenly">
                <a role="button"><img src="assets/icon/mysql.svg" class="icon" alt=""></a>
            </div>
        </div>
    </div>
</div>
