.bg-color {
  background-color: #2B3035 !important;
  color: #fff;
}
.font {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.icon {
  width: 3.5rem;
}
.container-db .icons-container .icon{
  transform: scale(1.5) !important;
}
.icon:hover {
  transform: scale(1.2);
}

ul {
  list-style: none;
}

.icons-container .icon-content {
  position: relative;
}
.icons-container .icon-content .tooltip {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  font-family: "Amaranth", sans-serif;
  transition: all 0.3s ease;
}
.icons-container .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 60px;
}
/* .container-frontend{
  animation: roll-in-left 0.6s ease-out both;
}

@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.animacion-backend {
  animation: roll-in-right 0.6s ease-out both;
}

@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.animacion-bd {
  animation: roll-in-bottom 0.6s ease-out both;
}

@keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
 */