<div class="container-fluid bg-color d-flex align-items-center justify-content-center" style="height: 75vh;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h3 class="font text-center">Herramientas de desarrollo</h3>
        </div>
        <div class="col-md-6 col-sm-10 mt-4">
            <h5 class="font text-center">Tecnologías Frontend</h5>
            <div>
                <ul class="icons-container d-flex justify-content-evenly">
                    @for (frontend of frontend; track $index) {
                    <li class="icon-content">
                        <a class="link" role="button">
                            <img src="{{frontend.url}}" class="icon" alt="">
                        </a>
                        <div class="tooltip">{{frontend.nombre}}</div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-10 mt-4">
            <h5 class="font text-center">Tecnologías Backend</h5>
            <div>
                <ul class="icons-container d-flex justify-content-evenly">
                    @for (backend of backend; track $index) {
                    <li class="icon-content">
                        <a class="link" role="button">
                            <img src="{{backend.url}}" class="icon" alt="">
                        </a>
                        <div class="tooltip">{{backend.nombre}}</div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-10 mt-4">
            <h5 class="font text-center">Base de datos</h5>
            <div>
                <ul class="icons-container d-flex justify-content-evenly">
                    @for (db of database; track $index) {
                    <li class="icon-content">
                        <a class="link" role="button">
                            <img src="{{db.url}}" class="icon" alt="">
                        </a>
                        <div class="tooltip">{{db.nombre}}</div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
   